/lib
/resources
/java
/notes
/1.4-analysis-of-algs
/2.1-*
/2.2-*

/week4-8puzzle/src/Test.*

*/.idea/*
*/.lift/*
*/.vscode/*

*.pdf
*.xlsx
*.iml
*.txt
*.png
*.jar
*.xml
*.txt
*.class
*.zip

*.swp*
*.un~*

CREDITS
README.*
